body {
    background-color: beige;
    height: 100vh;
    overflow: auto;
}

.content{
    width: 1440px;
    display: flex;
    align-items: center;
}

.no-scroll {
    overflow: hidden;
  }

/*Loadingspinner*/
.loadingspinnerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 70px;
    height: 70px;
    display: flex;
    animation : rotate 2s linear infinite;
  }
  .loader:before,
  .loader:after {
    content:"";
    flex:1;
    background:#fff;
    animation: mvx 0.8s infinite linear alternate;
  }
  .loader:before {
    background: #FF3D00;
    animation-name:mvrx;
  }

  @keyframes rotate {
    100% {transform: rotate(360deg)}
  }
  @keyframes mvx {
    0% , 40% {transform: translateX(0px)}
    20% , 60% {transform: translateX(8px)}
    100% {transform: translateX(15px)}
  }
  @keyframes mvrx {
    0% , 40% {transform: translateX(0px)}
    20% , 60% {transform: translateX(-8px)}
    100% {transform: translateX(-15px)}
  }

input{
    height: 40px;
    width: 300px;
}
.headerImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-position: center;
}

.allPokemonCardSmall {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.oneSmallPokemonCard {
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
    border-radius: 4%;
}

.oneSmallPokemonCard:hover{
    cursor: pointer;
}

.pokemonImage {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

h2 {
    margin: 0;
}

.dNone {
    display: none;
}

.overlayBigPokemon {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(79, 64, 64, 0.897);
}

.bigPokemonCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}

.bigPokemonBottom{
    display: flex;
    justify-content: space-evenly;
}
.bigPokemonWayPicutre{
    width: 40px;
    height: 40px;
}

.bigPokemonCardTop{
    width: 300px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.bigPokemonCardMiddle{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.bigPokemonButton{
    width: 100px;
    height: 25px;
    background-color: rgb(139, 100, 53);
    display: flex;
    align-items: center;
    width: 300px;
}

.bigPokemonGenerals{
    width: 300px;
    height: 250px;
}

.buttonClass{
    display: flex;
    justify-content: center;
}
.loadMorePokemon{
    width: 200px;
    height: 35px;
    background-color: azure;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    background-color: #ffffff; /* Weiße Hintergrundfarbe */
    color: #2f5c96; /* Textfarbe */
}
table thead th {
    background-color: #f2f2f2; /* Kopfzeile Hintergrundfarbe */
    color: #700e0e; /* Kopfzeile Textfarbe */
    padding: 10px;
    text-align: left;
}
table tbody td {
    padding: 10px;
    border: 1px solid #a13f3f; /* Rahmenfarbe */
}
table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9; /* Wechselnde Zeilenfarbe */
}
